
    <div class="row bg-primary seccion">
      <h2 class="texto-blanco">
        EDUCACIÓN
      </h2>
  </div>
  
    <div class="btn-edit">
      <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div>
  
  <ul class="item-list">
  <li *ngFor="let educacion of miEducacion">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-2 col-xs-4">
        <img class="img-responsive imgSeccion" [src]="educacion.img">
      </div>
      <div class="col">
        <h5 class="texto-naranja">{{educacion.title}}</h5>
        <p>{{educacion.name}}
          <br> {{educacion.time}}
        </p>
        <p>{{educacion.obs}}
        </p>
      </div>
    </div>
  </li>
  </ul>
  