<div class="capa2">
  <img [src]="miPortfolio.image" class="bd-placeholder-img rounded-circle fotoPerfil"
    preserveAspectRatio="xMidYMid slice" focusable="false" />
</div>
<div class="row">
  <div class="col-12 espacio"></div>
</div>
<div class="row acercaDe">
  <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
    <br>
    <h3>
      {{miPortfolio.name}}
    </h3>
    <h5>
      {{miPortfolio.position}}
    </h5>
  </div>
  <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
    <h5>
      {{miPortfolio.description}}
    </h5>
    <p class="text-center">
      {{miPortfolio.skills}}
    </p>
  </div>
</div>