<div class="row bg-primary seccion">
    <h2 class="texto-blanco">
      EXPERIENCIA LABORAL
    </h2>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-2">
      <img class="img-responsive imgSeccion" src="assets/img/dispro.jpg">
    </div>
    <div class="col-10">
      <h5 class="texto-naranja">SOFTWARE DEVELOPER</h5>
      <p>DISPROFARMA S.A.
        <br> 01/2014 - actualidad
      </p>
      <p>Analisis - diseño y desarrollo de software en tecnologias .Net
        - SQL - HTML - CSS - jQuery - JS - VB - C# - Bootstrap - Team Foundation Server - Servicios Windows.
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-2">
      <img class="img-responsive imgSeccion" src="assets/img/dispro.jpg">
    </div>
    <div class="col-10">
      <h5 class="texto-naranja">SOPORTE TECNICO IT </h5>
      <p>DISPROFARMA S.A.
        <br> 06/2008 - 01/2014
      </p>
      <p>Administración de dominios Windows y servidor de correo exchange.
        Mantenimiento de infraestructura. Servicio a usuarios de oficina y deposito + de 500 equipos.
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-2">
      <img class="img-responsive imgSeccion" src="assets/img/fala.jpg">
    </div>
    <div class="col-10">
      <h5 class="texto-naranja">HELPDESK SUPPORT        </h5>
      <p>FALABELLA S.A.
        <br> 05/2009 - 08/2010
      </p>
      <p>Mantener en funcionamiento continuo todos los equipos utilizados en la tienda del Alto Avellaneda. Siendo responsable del
        turno tarde/noche.
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-2">
      <img class="img-responsive imgSeccion" src="assets/img/iac.jpg">
    </div>
    <div class="col-10">
      <h5 class="texto-naranja">PROFESOR        </h5>
      <p>INSTITUTO ARGENTINO DE COMPUTACIÓN
        <br> 03/2007 - 12/2008
      </p>
      <p>Dictado de cursos de Reparación de computadoras - Armado, administración y mantenimiento de redes.
      </p>
    </div>
  </div>